<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DUMMY DATA GENERATOR</title>
</head>
<body>
    <Button onclick="generate()">Generate Data</Button>
    <script>
        async function generate(){
            let a=fetch("/generate");
            let b=await a.json();
            console.log(b);
        }
    </script>
</body>
</html>